/WebScraper/bin/
/WebScraper/obj/
/SeleniumGenerator/bin/
/SeleniumGenerator/obj/
/WebScraper.Database/bin/
/WebScraper.Database/obj/
/WebScraper/Generated
.idea
/obj
/WebScraper.WebApp/obj
/WebScraper.WebApp/bin/
/WebScraper.Tests/obj
/WebScraper.Tests/bin/
