@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>WebScraper WebApp</PageTitle>

<div class="page">
    <main style="background-color: #4f5050; color: white">
        <div class="nav-bar">
            <NavMenu/>
        </div>
        
        <div class="content px-4 content-div ">
            @Body
        </div>
    </main>
</div>